{% extends 'website/base.html' %}

{% block content %}
   <div class="sobre">
    <h2>Sobre</h2>
    <h1>A Jornada e o Tesouro<h1>
    <p> A história começa após a execução de Gol D. Roger, que antes de morrer, 
        revelou a existência do "One Piece" — um tesouro inimaginável escondido na última ilha da Grand Line. 
        Luffy decide encontrá-lo, mas, para isso, precisa recrutar uma tripulação leal e enfrentar a Marinha e 
        piratas rivais em um mundo repleto de ilhas misteriosas
    <p>
        <h1>As Frutas (Akuma no Mi)<h1>
    <p> São frutas místicas que concedem habilidades únicas e sobrenaturais a quem as consome. Em troca do poder,
         a pessoa perde permanentemente a capacidade de nadar, tornando-se incapaz de flutuar no oceano
    <p>
</div>
{% endblock %}